<!DOCTYPE html>
<html>
  <head>
    <title>soil</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest"> 
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  </head>

  <body>
    <div class="main">
      <div class="screen1 all">
        <img src="/images/screen1-1.jpeg" class="photo-screen photo-top" id="screen1-1" alt="Soil - gastronomie responsable" />
        <img src="/images/cropscreen2.png" class="photo-screen" id="screen2-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen3-1.jpeg" class="photo-screen" id="screen3-1" alt="Soil - gastronomie responsable" />
        <img src="/images/cropscreen4.png" class="photo-screen" id="screen4-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen5-1.jpeg" class="photo-screen" id="screen5-1" alt="Soil - gastronomie responsable" />
        <img src="/images/cropscreen6.png" class="photo-screen" id="screen6-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen7-1.jpeg" class="photo-screen" id="screen7-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen8-1.jpeg" class="photo-screen" id="screen8-1" alt="Soil - gastronomie responsable" />
      </div>

      <!-- <div class="screen1 screen2 none">
        <img class="no photo-screen" id="screen1-2"/>
        <img src="/images/screen2-2.jpeg" class="photo-screen" id="screen2-2" alt="Soil - gastronomie responsable" />
        <img class="no photo-screen" id="screen3-2" >
        <img src="/images/screen4-2.jpeg" class="photo-screen" id="screen4-2" alt="Soil - gastronomie responsable" />
        <div class="no photo-screen" id="screen5-2" ></div>
        <img src="/images/screen6-2.jpeg" class="photo-screen photo-bottom" id="screen6-2" alt="Soil - gastronomie responsable" />
        <div class="photo-screen" id="screen7-2" ></div>
        <div class="photo-screen" id="screen8-2"></div>
        <div class="photo-screen" id="screen1-2"></div>
      </div> -->
    </div>

    <footer class="footer">
      <div class="logo-div">
          <img src="/images/logo_transparent.png" class="logo" alt="Logo de la marque Soil - gastronomie responsable" />
          <p class="logo-desc"> - gastronomie responsable - </p>
      </div>
      <div class="contact-div">
          <p class="progress-p"> ce site est en cours de réalisation <a class="far fa-envelope" href="mailto:mickael@soil-food.fr" title="mickael@soil-food.fr" ></a></p>
      </div>
    </footer>

    <script src="/javascripts/script1.js"></script>
  </body>
</html>