<!DOCTYPE html>
<html>
  <head>
    <title>SOIL</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/images/manifest.json">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <div class="screen1">
        <img src="/images/screen1-1.jpeg" class="photo-screen" id="screen1-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen2-1.jpeg" class="photo-screen" id="screen2-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen3-1.jpeg" class="photo-screen" id="screen3-1" alt="Soil - gastronomie responsable" />
        <img src="/images/screen1-1.jpeg" class="photo-screen" id="screen4-1" alt="Soil - gastronomie responsable" />
      </div>
      <div class="screen2">
        <img src="/images/screen1-2.jpeg" class="photo-screen" id="screen1-2" alt="Soil - gastronomie responsable" />
        <img src="/images/screen2-2.jpeg" class="photo-screen" id="screen2-2" alt="Soil - gastronomie responsable" />
        <img src="/images/screen3-2.jpeg" class="photo-screen" id="screen3-2" alt="Soil - gastronomie responsable" />
        <img src="/images/screen1-2.jpeg" class="photo-screen" id="screen4-2" alt="Soil - gastronomie responsable" />
      </div>
    </div>

    <footer class="footer">
      <div class="logo-div">
        <img src="/images/logo_transparent.png" class="logo" alt="Logo de la marque Soil - gastronomie responsable" />
        <p class="logo-desc"> - gastronomie responsable - </p>
      </div>
      <div class="contact-div">
        <div class="progress">
          <p class="progress-p">Ce site est en cours de réalisation</p>
        </div>
        <div class="email">
          <a class="far fa-envelope" href="mailto:inayatealym@gmail.com" title="inayatealym@gmail.com" ></a>
        </div>
      </div>
    </footer>

    <script src="/javascripts/script1.js"></script>
  </body>
</html>
