<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
  <body>
    <div id="wrapper">
      <div id="_fadeO_"> &nbsp;</div>
      <div id="_fadeI_">&nbsp;</div>
  </div>

    <script src="/javascripts/script1.js"></script>
  </body>
</html>